* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
   
  .container {
    width: 100%;
    min-height: 100vh;
    background-color: #85b200;
    background-image: url(../img/image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 60px;
  }
  
  .collapse_btn {
    cursor: pointer;
    padding: 10px;
    margin: 30px;
    background-color: rgb(11, 148, 11);
    border: 2px solid black;
    border-radius: 5px;
    color: rgb(9, 12, 14);
    font-size: 20px;
    transition-duration: 0.5s;  
  }
  
  .collapse_btn:hover {
    background-color: rgb(255, 153, 0); 
  }
  
  .collapse_cont {
    height: 0;
    overflow: hidden;
    transition-property: height;
    transition-duration: 2s;
  }
  
  .collapse_text {
    margin: 30px;
    padding: 10px;
    display: block;
    border: 2px solid black;
    width: 500px; 
    background-color: aliceblue;
  }